@{ 
    //File to receive Notify from PayGate
    //Do something with it
    var response = Request;
    
}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>

    </body>
</html>
